*{
	margin: 0;
	padding: 0;
}
#main{
	background-color: #eee;
	padding:25px;
	position: absolute;
	overflow: hidden;
	font-family:KaiTi;
}
#left{
	float: left;
	border:1px solid black;
	background-color: white;
	width: 160px;
	padding: 19px;
}
#right{
	float: right;
	border:1px solid black;
	background-color: white;
	width: 80px;
	padding: 10px 19px;
	text-align: center;
}
#center{
	margin-left:225px;
	margin-right: 145px; 
	border:1px solid black;
	background-color: white;
	padding: 20px;
}
img{
	width: 80px;
	height: 80px;
	border:1px solid black;
}
p{
	text-indent:2em;
}
#dm{
	float: right;
}
.imgdy{
	margin-top: 10px;
	margin-bottom: 10px;
}