*{
	padding: 0;
	margin:0;
}
body{
	font-family: "kaiti";
	font-size: 20px;
}
form{
	margin-top: 30px;
	margin-left: 30px;
}
input{
	border-radius: 5px;
	height: 30px;
	width: 330px;
}
table tr{
	height: 40px;
}
.td1{
	text-align: right;
}
.td2{
	font-size: 20px;
}
.td2:focus{
	border: 2px solid #2E79BA;
}
#last{
	text-align: right;
}
.odd{
	height: 5px;
}
button{
	height: 30px;
	width: 60px;
	font-size: 20px;
	background-color: #2E79BA;
	color: white;
	border:0;
	border-radius: 5px;
}
.inputGreen{
	border-color:green; 
}
.hintGreen{
	color: green;
}
.inputRed{
	border-color:red; 
}
.hintRed{
	color: red;
}